
//CSS reset base parameters
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    width:100vw;
    overflow-x:hidden;
    background-color:rgb(251, 255, 42);
}

head{
    margin:0;
}
body {
  margin:0;
//   width:100vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.outer_wrapper{
    width:100vw;
    text-align:center;
    padding-bottom:0;
}

// ******     Layout   ********
header{
    text-align: center;
}
nav {
    margin-top:0;
    display:flex;
    // flex-direction:column;
    // flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    background-color:rgb(251, 255, 42);
    // background-color:rgb(234, 217, 253);
    height:10vh;
    border-bottom: 3px solid black;
    .logoLink{
        color: black;
        font-size:2em;
    }
    ul{
        padding:0;
        padding-bottom:40%;
      }
      
      li{
        font-size:1.3em;
        display:inline-block;
        margin: 0 10px;
      }
      
      a{
        text-decoration:none;
        color:rgb(67, 82, 214);
      }
      a:hover{
        color:rgb(0, 0, 0);
        text-decoration:underline;
      }
  }
  


// ******  Popular Routes   *****
.index_page{
    width:100%;
    background-color:rgb(252, 252, 252);
    .route_wrapper{
        width:100vw;
        padding-right:8%; padding-left:8%;
        padding-top:0%;
        background-color:white;
        // justify-content: center;
        text-align: center;
        .popular_option{
            margin-right:2%;
            margin-left:2%;
        }
        ul {
            text-align: center;
            justify-content: center;
            margin-top:1%;
            margin-left:auto; margin-right:auto;
            padding-left:0;
            // height:500px;
            width:300px;
            border: 1px solid black;
            border-radius:10px;
            background: white;
            list-style-type: none;
            img{
                text-align: center;
                margin: 0 auto;
                height:170px;
                width:95%;
                padding-top:1%;
            }
        }
        ul:hover{
            -moz-box-shadow:    3px 3px 5px 6px #ccc;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow:         3px 3px 5px 6px #ccc;
        }
            li {
                padding-left:5%; padding-right:5%;
                text-align: left;
                h3{
                    color:blue;
                    font-size:1.5em;
                }
                .rightAlign{
                    text-align: right;
                    h4{ margin-bottom:0; padding-bottom: 0; font-size:.8em;}
                    h1{
                        color:black;
                        margin-top:0;
                        font-size:3.5em;
                    }
                }
            }

        .btnViewDeal{
            margin:auto;
            margin-bottom:2%;
            background-color:rgb(36, 138, 255);
            color:white;
            justify-content: center;
            width:90%;
            height:50px;
            border-radius:5px;
            h1{
                margin-top:auto; margin-bottom:auto;                
            }
        }
        .btnViewDeal:hover{
            background-color:orange;
        }
    }
}


// ******  Search Form   *****
.searchForm_wrapper{ text-align:center; height:90vh; margin-bottom:1%;
    .search_nav{
        text-align: center;
        width:100%;
        // background-color:rgb(224, 222, 222);
        background-color:white;
        margin:auto;
        padding:1em;
    }
    .search_nav > form {
        display: flex;
        flex-direction:column;
    }
    .homePageForm{
        width:80%;
        margin: 2% auto;
        background-color: rgb(234, 217, 253);
        border-radius:10px;
        border: 2px solid black;
    }
    input {
        width:100%;
        height: 30px;
        // margin-top:.5em;
        border:0;
        text-align:center;
        border-radius:5px;
        border:.5px solid black;
        background-color:white;
    }
    .input_wrapper {
        margin: 1em 0;
        text-align:center;
        font-size:1.2em;
        .hide_display{
            background-color:grey;
        }
    }
    .radio_container{
            display:flex;
        .input_radio{
            .radioLabel{
             white-space: nowrap; 
             margin:5%;
            }
            padding-left:20%;
            padding-top:5%;
            // display:flex;
            text-align:left;
            font-size:1.2em;
            // display:block;
            input{
                width:20%;
            }
        }
    }
    select, button {
        height:36px;
        width: 100%;
        border:none;
    }
    button {
        background-color:rgb(255, 145, 0);
        border-radius:5px;
    }
    button:hover{
        cursor:pointer;
    }
}

// ******  Results   *****
.hidden_form{
    display: none;
}
.results_wrapper{
    width:100%;
    background-color:white;
    padding-bottom:1%;
    .date_wrapper{
        // background-color:rgb(255, 197, 197);
        padding-left: 3%; padding-right:3%;
        display:flex;

        margin-bottom:5%;
        .detail_wrapper{
            padding-top:6%;
            flex:1;
            text-align:left;
            vertical-align: middle;
        }
        .select_wrapper{
            flex:2;
            text-align:right;
            // float:right;
        }

    }
    .column_info{
        width:100%;
        height:60px;
        margin-bottom:3%;
        border-radius:5px;
        border: 1px solid black;
        background-color:rgb(199, 199, 199);
        .route_column{
            text-align: center;
            width:33%;
            float:left;
            .duration_display{
                display:none
            }
        }
    }
    .route_wrapper{
        width:100%;
        border:1px solid black;
        border-radius:5px;
        margin-bottom:2.5%;
        height:100px;
        // background-color:rgb(238, 238, 238);
        background-color:rgb(158, 203, 255);
        
        .route_column{
            text-align: center;
            width:33%;
            float:left;
            .duration_display{
                display:none;
            }
        }
    }
    .route_wrapper:hover{
        -moz-box-shadow:    3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:         3px 3px 5px 6px #ccc;
    }

}


/* Media Query for Screens larger than mobile size */
@media (min-width: 650px) {

    // ******  Popular Routes   *****
    .index_page{
        .route_wrapper{
            display:flex;
            padding-top:3%;
            flex-direction:row;
            justify-content:center;
            flex-wrap:wrap;
            align-items: flex-end;

            ul{
                margin:5%;
            }
        
        }
    }

    // ******  Layout   *****
    nav{
        flex-direction:row;
        height:6vh;
        /* padding:1em; */
        padding-right:3%;padding-left:3%;
      }
      nav a {
        /* One part available width */
        flex:1;
        text-align:left;
      }
      nav ul{
        /* Two parts availble width */
        flex:2;
        text-align:right;
      }

    //  ******  Results ******
    .results_wrapper{
        padding-left:10%; padding-right:10%;
        .column_info{
            .route_column{
                width:25%;
                .duration_display{
                    display:block
                }
              }
         }
        .route_wrapper{
            .route_column{
                width:25%;
                .duration_display{
                    display:block
                }
            }
        }

    }
    

    
}



@media (min-width: 800px) {
    // ***** search box height ***
    .searchForm_wrapper{
        height:85vh;
    }

    // ******  Search Form    *****
    .searchForm_wrapper{
        .input_button_wrapper{
            display:flex;
            padding-top:3%;
            flex-direction:row;
            justify-content:center;
            flex-wrap:wrap;
            align-items: flex-end;
            font-size:1.1em;
        }
        .radio_container{
            padding-right:5%;
            .input_radio{
                input{
                }
                input[type='radio'] { transform: scale(1.5); }
            }
        }
        select, button{
            width:50%;
        }
    }


}

@media (min-width: 1000px){
        // ***** search box height ***
        .searchForm_wrapper{
            height:55vh;
        }
}